.photo {
    position: relative;
    cursor: pointer;
}

.photo .photo_l_t {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #DCDDDD;
}

.photo .photo_l_b {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
}

.photo .photo_r_t {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.photo .photo_r_b {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 20px;
}

.photos {
    margin: auto;
    /* font-size:38px; */
}