body {
    /* min-width: 1366px; */
    background: #F6F7FB;
    width: calc(100% - 30px * 2);
    margin: 0 auto;
}

/* .page {
    background: pink;
} */

/* 头部 */
.head {
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
}

.head .logo {
    width: 200px;
    background: #fff;
    height: 60px;
    padding: 10px;
}

.head .logo img {
    width: 100%;
    height: 100%;
}

.head h2 {
    font-weight: normal;
    font-size: 28px;
    margin-right: 25px;
}

.head p {
    color: #7E8993;
    font-size: 24px;
}

.head .userInfo {
    position: absolute;
    right: 120px;
    color: #7E8993;
    cursor: pointer;
}

/* banner区域 */
.swiper-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-container .search {
    position: absolute;
    width: 400px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    left: 100px;
    top: 100px;
    z-index: 10;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.swiper-container .search .iconfont {
    font-size: 20px;
    color: #767575;
    margin-left: 5px;
}

.swiper-container .search input {
    width: 280px;
    height: 30px;
    border-right: 1px solid #898989;
}

/* tab卡片 */
.tab {
    margin: 20px 0 0;
    background: #fff;
    height: 40px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #DEDFDF;
    border-radius: 3px;
    color: #646262;
}

.tab .tab_l {
    display: flex;
    align-items: center;
}

.tab .tab_l .hot {
    display: flex;
    border-right: 1px solid #DEDFDF;
    padding-right: 20px;
    height: 40px;
}

.tab .tab_l .hot li {
    width: 50px;
    height: 24px;
    margin-top: 8px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.tab .tab_l .hot li.active {
    background: #C60E11;
    color: #fff;
    border-radius: 4px;
}

.tab .tab_l .type {
    display: flex;
}

.tab .tab_l .type li {
    width: 60px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin: 0 20px;
}

.tab .tab_l .type li.active {
    border-bottom: 3px solid #C60E11;
}

.tab .tab_l .type li .iconfont {
    color: #000;
}

.tab .tab_r {
    display: flex;
    align-items: center;
}

.tab .tab_r li {
    margin-left: 10px;
}

.tab .tab_r li:nth-child(1),
.tab .tab_r li:nth-child(2) {
    cursor: pointer;
}

.tab .tab_r li:nth-child(1) .iconfont,
.tab .tab_r li:nth-child(2) .iconfont {
    color: #9FA0A0;
}

.tab .tab_r li.active .iconfont {
    color: #595757;
}

.tab .tab_r li:nth-child(3) {
    color: #C60E11;
}

.tab .tab_r li:nth-child(3) .icon-shaixuan1 {
    font-size: 12px;
}

/* 标题 */
.headline {
    width: 100%;
    /* background: pink; */
    height: 40px;
    line-height: 40px;
    color: #676666;
    text-align: left;
}

.headline span {
    font-size: 14px;
}

.headline .total {
    font-size: 12px;
    color: #C5C5C7;
}

/* 条件筛选 */
.select {
    width: 100%;
    height: 140px;
    background: #fff;
    border: 1px solid #DEDFDF;
    margin-bottom: 20px;
}

.select ul {
    display: none;
    padding: 10px;
}

.select ul.on {
    display: block;
}

.select ul li {
    width: 13%;
    float: left;
    display: flex;
    flex-direction: column;
    /* background: pink; */
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.select ul li .name {
    font-size: 12px;
    margin-bottom: 6px;
}

.select ul li div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #EFEFEF;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
    /* line-height: 30px; */
}

.select ul li div .item {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.select ul li div.line {
    border: 1px solid #C60E11;
    border-radius: 5px;
}

.select ul li div .icon-sousuo {
    font-size: 18px;
}

.select ul li div input {
    width: 100%;
    height: 100%;
    background: #EFEFEF;
    margin-left: 4px;
}

.select ul li div .icon-xiala {
    font-size: 14px;
    color: #696969;
}

.select ul li div.download {
    margin-top: 22px;
    display: inline-block;
    line-height: 30px;
    background: #fff;
}

.select ul li div.all {
    display: flex;
    line-height: 30px;
    width: 50px;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    color: #707070;
    background: #fff;
}

.select ul li div.all input {
    width: 12px;
    height: 12px;
    border: 1px solid #333;
}

.select ul li.result {
    /* background: #fff; */
    /* background: pink; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin-top: 22px;
    color: #707070;
}

.select ul li.result p {
    border: 1px solid #ccc;
    padding: 2px 3px;
    border-radius: 3px;
    margin-left: 2px;
    cursor: pointer;
}

.select ul li div.download .iconfont {
    color: #000000;
}

.select ul li div.download span {
    color: #707070;
}

.select ul li .dropDown {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 60px;
    z-index: 10;
    border: 1px solid #DEDFDF;
    border-radius: 0;
    padding: 10px 0;
    display: none;
}

.select ul li .dropDown li {
    width: 100%;
    /* background: pink; */
    height: 20px;
    line-height: 20px;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
}

.select ul li .dropDown li label {
    position: absolute;
    left: 10px;
    display: block;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    /* background: red; */
}

.select ul li .dropDown li input {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 12px;
    height: 12px;
    display: block;
    border: 1px solid #333;
    cursor: pointer;
}

.select ul li .dropDown li.active label {
    background: #F4CFCF;
    cursor: pointer;
}

/*项目&人物*/
.select ul li .dropDown_col {
    border: none;
}

.select ul li .dropDown_col .dropDown_l {
    width: 48%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #DFDFDF;
    padding: 10px 0;
}

.select ul li .dropDown_col .dropDown_l li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select ul li .dropDown_col .dropDown_l li.active {
    background: #F4CFCF;
}

.select ul li .dropDown_col .dropDown_l li .iconfont {
    color: #505050;
}

.select ul li .dropDown_col .dropDown_r {
    width: 48%;
    background: #fff;
    right: 0;
    top: 0;
    position: absolute;
    border: 1px solid #DFDFDF;
    padding: 10px 0;
}

.select ul li .dropDown_col .dropDown_r li label {
    background: #fff;
}

/* 时间 */
.select ul li .time .dropDown_l {
    width: 50%;
    border-right: none;
}

.select ul li .time .dropDown_r {
    width: 50%;
}

/* 地点 */
.select ul li .dropDown_col .dropDown_r_r {
    width: 48%;
    background: #fff;
    left: 100%;
    top: 0;
    position: absolute;
    border: 1px solid #DFDFDF;
    padding: 10px 0;
    margin-left: 10px;
}

.select ul li .place .dropDown_r li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select ul li .place .dropDown_r li.active {
    background: #F4CFCF;
}

.select ul li .place .dropDown_r_r li label {
    width: 100%;
}

.select ul li .place .dropDown_r_r li.active label {
    background: #fff;
}

/* 选中结果 */
.selected {
    width: 100%;
    min-height: 64px;
    margin-bottom: 20px;
    /* background: pink; */
}

.selected li {
    background: #fff;
    float: left;
    margin-right: 20px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.selected li span:nth-child(1) {
    margin-right: 10px;
}

/* .selected li:last-child {
    color: #C60E11;
    background: none;
} */

/* 瀑布流布局 */
.waterfall {
    width: 100%;
}

.waterfall .layout {
    display: none;
    width: 100%;
    /* background: pink; */
    /* border: 1px solid red; */
}

.waterfall .layout.on {
    display: block;
}

/* 音频 */
.audio {
    width: 100%;
    height: 300px;
    display: none;
}

.audio li {
    height: 75px;
    border-top: 1px solid #DCDDDD;
    width: 100%;
}

.audio .audio_l {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.audio .audio_l .iconfont {
    font-size: 26px;
    margin-right: 10px;
}

.audio li.active .audio_l .iconfont {
    color: #C60E11;
}

.audio .audio_l .audio_l_info {
    display: flex;
    flex-direction: column;
}

.audio .audio_l .audio_l_info .name {
    font-size: 14px;
}

.audio .audio_c {
    float: left;
    width: 60%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio .audio_c li {
    background: #EFEFEF;
    margin-right: 10px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: none;
    border-radius: 4px;
}

.audio .audio_r {
    float: left;
    width: 20%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.audio .audio_r .iconfont {
    font-size: 22px;
    cursor: pointer;
}

/* 图片蒙层 */
.shadow {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    display: none;
    z-index: 10;
}

.close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    color: #fff;
    display: none;
    z-index: 10;
}

.shadow .panel {
    background: #FFF;
    height: 90%;
    height: 600px;
    width: 800px;
    border-radius: 3px;
    padding: 20px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -300px;
}

.shadow .panel .panel_t {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.shadow .panel .panel_t .panel_t_l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shadow .panel .panel_t .panel_t_l span {
    font-size: 14px;
}

.shadow .panel .panel_t .panel_t_l .imgName {
    font-size: 12px;
    color: #C60E11;
}

.shadow .panel .panel_t .panel_t_r {
    background: #ccc;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.shadow .panel .panel_t .panel_t_r span {
    font-size: 18px;
}

.shadow .panel .panel_c {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

.shadow .panel .panel_c img {
    width: 100%;
    height: 100%;
}

.shadow .panel .panel_b {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shadow .panel .panel_b .panel_b_l {
    width: 70%;
    border-top: 1px solid #ccc;
    justify-content: flex-start;
}

.shadow .panel .panel_b .panel_b_l p {
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.shadow .panel .panel_b .panel_b_l li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.shadow .panel .panel_b .panel_b_l li .message {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.shadow .panel .panel_b .panel_b_l li .time {
    font-size: 12px;
    color: red;
    color: #9FA0A0;
}

.shadow .panel .panel_b .panel_b_r {
    width: 25%;
}

.shadow .panel .panel_b .panel_b_r h3 {
    text-align: left;
    height: 20px;
    line-height: 10px;
}

.shadow .panel .panel_b .panel_b_r img {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 4px;
}